
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #ffffff;
}


.white {
    color: #ffffff;
}

.blue {
    color: #0E7DC2;
}

.green {
    color: #2FE6C3;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 2em;
}

h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.text-center {
    text-align: center;
}


.menu {
    background-color: #2FE6C3;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 1px 10px 29px -7px rgba(0, 0, 0, 0.65);
}

.menu-items {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-items li {
    width: 25%;
    transition: background-color 0.3s ease;
    border-right: 1px solid #ffffff;
}

.menu-items li:last-child {
    border-right: none;
}

.menu-items a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.menu-items a:hover {
    color: #ffffff;
    background-color: #0E7DC2;
}


.green-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    background-color: #2FE6C3;
    border: 2px solid #2FE6C3;
    border-radius: 4px;
    padding: 16px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.green-button:hover {
    background-color: #0E7DC2;
    border: 2px solid #ffffff;
}


.landing-section {
    height: 100vh;
    background-image: url("images/w2.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 70%;
}

.landing-section,
.about-section,
.get-started-section {
    align-items: center;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}







@media (min-width: 768px) {
    .menu-items li {
        margin: 0px;
    }

    .menu-items a {
        padding: 20px;
    }

    .column {
        flex: 1;
        width: 50%;
    }

    .welcome-section {
        padding: 12vh 20vw;
    }

    .logo {
        max-width: 50%;
    }
}